CommunicationStore/.idea/
CommunicationStore/app/src/main/java/assets/ca.bks
CommunicationStore/app/src/main/java/assets/iot3rd.p12
CommunicationStore/build/
CommunicationStore/app/build/
CommunicationStore/.gradle/
CommunicationStore/app/src/assets/
